<section class="container mx-auto bg-gray-100 w-full h-screen p-6">
    <div class=" bg-red-100 flex flex-col items-center py-6 mx-6 rounded shadow-sm">
        <!-- <div class="grid lg:grid-cols-8 md:grid-cols-6 sm:grid-cols-3 gap-4"> -->
            <div class="columns-4 gap-0">
                <img src="https://cdn.pixabay.com/photo/2023/04/11/13/27/bird-7917250_1280.jpg" alt="">
                <img src="https://cdn.pixabay.com/photo/2023/07/12/17/23/activity-8122959_1280.jpg" alt="">
                <img src="https://cdn.pixabay.com/photo/2024/02/06/18/27/arabiccontest-8557664_1280.jpg" alt="">
                <img src="https://cdn.pixabay.com/photo/2024/01/09/13/08/mountains-8497575_1280.jpg" alt="">
                <img src="https://cdn.pixabay.com/photo/2023/10/06/06/54/fantasy-8297567_1280.png" alt="">
                <img src="https://cdn.pixabay.com/photo/2023/10/30/02/35/girl-8351533_1280.jpg" alt="">
                <img src="https://cdn.pixabay.com/photo/2024/02/17/13/21/candy-town-8579300_1280.jpg" alt="">
            </div>
        <!-- </div> -->
    </div>
</section>
